.dataUpdate {
  &__tittleBar {
    height: 44px;
    border-radius: 22px;
    background-color: var(--ngx-valepro-color-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 1rem;
    cursor: pointer;
    margin: 1rem 0rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &__tittleBarIcon {
    color: var(--ngx-valepro-color-secondary);
  }

  &__contend {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 2rem;
    justify-items: stretch;
    align-items: stretch;
  }

  &__menu {
    display: none;
  }


  &__menu-items {
    border-bottom: 1px solid var(--ngx-valepro-color-secondary);
    color: var(--ngx-valepro-color-secondary);
    width: 100%;
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    mat-icon {
      padding: 0rem .5rem;
    }
  }

  &__menu-items:last-child {
    border: none;
  }

  &__form-conted {
    padding: 1rem 0rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    overflow-y: scroll;
    height: 100%;
    max-height: 500px;
    color: var(--ngx-valepro-color-secondary);
  }

  &__form-button {
    max-width: 228px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
  }

  &__form-tittle {
    padding: 1rem 0rem;
  }
}



////////////////////// Media Queries estructura BEM /////////////////////
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .dataUpdate {
    &__menu {
      display: none;
    }

  }

}

@media screen and (min-width: 1024px) {
  .dataUpdate {
    &__contend {
      grid-template-columns: 1fr 3fr;
    }

    &__menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem .5rem;
    }
  }
}