<div class="dataUpdatePassword">
  <div class="dataUpdatePassword__tittleBar buttonBarHeader">
    <span class="bold-16 primary">Cambiar contraseña</span>
  </div>
  <div class="dataUpdatePassword__contend">

    <div class="dataUpdatePassword__menu">
      <app-menu-profiles></app-menu-profiles>
    </div>

    <div class="dataUpdatePassword__form-conted">

      <div class="dataUpdatePassword__form-conted-img">

        <img class="dataUpdatePassword__form-conted-imgIcon" src="../../../../assets/img/passwod.svg" alt="">

        <span class="dataUpdatePassword__form-conted-textImg bold-24 primary">Cambiar contraseña</span>
        <span class="dataUpdatePassword__form-conted-textImg regular-16 primary">Para que tu contraseña sea segura debe
          tener: 10 caracteres, una letra mayúscula, un número y un carácter especial.
        </span> <span class="dataUpdatePassword__form-conted-textImg regular-16 primary">
          Recuerda que no debe ser tu nombre, apellido ni correo electrónico.</span>

      </div>

      <div class="dataUpdatePassword__form-contedform">



        <form [formGroup]="formChangePassword" class="content-form col" (ngSubmit)="onSubmit()">
          <mat-form-field class="input login full-input" appearance="fill">
            <mat-label for="confirmPassword">Escribe tu contraseña actual</mat-label>
            <input type="password" formControlName="Password" id="confirmPassword" matInput
              placeholder="Escribe tu contraseña actual" autocomplete="off"
              [ngClass]="{ 'is-invalid': submitted && formChangePassword.get('Password')?.errors }"
              [type]="hideOld ? 'password' : 'text'" />
            <mat-icon matSuffix (click)="toggleHide('hideOld')" [ngClass]="hideOld ? 'icon-eye-off' : 'icon-eye'">
              {{ hideOld ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            <mat-error *ngIf="formChangePassword.get('Password')?.hasError('required')">La contraseña es
              requerida</mat-error>
            <mat-error *ngIf="formChangePassword.get('Password')?.hasError('minlength')">La contraseña debe tener mínimo
              10
              caracteres</mat-error>
          </mat-form-field>

          <mat-form-field class="input login full-input" appearance="fill">
            <mat-label for="NewPassword">Contraseña</mat-label>
            <input type="password" formControlName="NewPassword" id="NewPassword" matInput placeholder="Contraseña"
              autocomplete="off"
              [ngClass]="{ 'is-invalid': submitted && formChangePassword.get('NewPassword')?.errors }"
              [type]="hideNew ? 'password' : 'text'" />
            <mat-icon matSuffix (click)="toggleHide('hideNew')" [ngClass]="hideNew ? 'icon-eye-off' : 'icon-eye'">
              {{ hideNew ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            <mat-error *ngIf="formChangePassword.get('NewPassword')?.hasError('required')">La contraseña es
              requerida</mat-error>
            <mat-error *ngIf="formChangePassword.get('NewPassword')?.hasError('minlength')">La contraseña debe tener
              mínimo 10
              caracteres</mat-error>
          </mat-form-field>

          <mat-form-field class="input login full-input" appearance="fill">
            <mat-label for="NewPasswordVerified">Confirmar contraseña</mat-label>
            <input type="password" formControlName="NewPasswordVerified" id="NewPasswordVerified" matInput
              placeholder="Confirmar contraseña" autocomplete="off"
              [ngClass]="{ 'is-invalid': submitted && formChangePassword.get('NewPasswordVerified')?.errors }"
              [type]="hideRepeat ? 'password' : 'text'" />
            <mat-icon matSuffix (click)="toggleHide('hideRepeat')" [ngClass]="hideRepeat ? 'icon-eye-off' : 'icon-eye'">
              {{ hideRepeat ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            <mat-error *ngIf="formChangePassword.get('NewPasswordVerified')?.hasError('required')">La contraseña es
              requerida</mat-error>
            <mat-error *ngIf="formChangePassword.get('NewPasswordVerified')?.hasError('minlength')">La contraseña debe
              tener
              mínimo 10 caracteres</mat-error>
          </mat-form-field>

          <button type="submit" class="button btn-change" title="Cambiar contraseña"><span
              class="regular-18 primary">Cambiar contraseña</span></button>

        </form>

      </div>

    </div>

  </div>

</div>